{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{%endblock%}
{% block content %}
  <div class='article'>
    <div class="row-fluid">
      <div class="content-title span12">
        <h1>{{ article.title }}</h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span10">
        <div>
          <span class="pull-left">{{ article.locale_date }} </span>
          <span class="pull-right" style="text-align: left;"> Filed under <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
        </div>
        <p>{% include "twitter.html" %}</p>
        {{ article.content }}
        <hr />
      </div>
      {% if article.tags %}
      <div class="tags pull-left">
        {% for tag in article.tags %}
        <span><a href="{{ SITEURL }}/{{ tag.url }}"><i class="fa fa-tag fa-fw" style="color: #1f334b"></i>{{ tag }}</a></span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="span10">
      <h3>Comments</h3>
      {% include 'disqus.html' %}
    </div>
  </div>
{% endblock %}